.navbar-nav {
    margin-left: 230px;
    
}

.nav-item {
    margin-right: 20px;
}

.carousel-caption {
    margin-bottom: 300px;
    margin-right: 1100px;
    height: 15%;
    width: 15%;
}

.carousel-caption h3 {
    font-size: 40px;
}

.carousel-caption h4 {
    font-size: 15px;
}

.carousel-caption p {
    font-size: 10px;
}
.carousel-caption .price {
    margin-top: 10px;
    font-size: 15px;
}

.blue {
    background-color: blue;
    border-radius: 30px;
    width: 1%;
    height: 20px;
    margin-right: 10px;
}

.red {
    background-color: red;
    border-radius: 30px;
    width: 1%;
    height: 20px;
    margin-right: 10px;
}

.green {
    background-color: green;
    border-radius: 30px;
    width: 1%;
    height: 20px;
    margin-right: 10px;
}

